version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: fut7pro-postgres
    environment:
      POSTGRES_DB: fut7pro
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 880704
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
