@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cor-primaria: #ffcc00;
    --cor-secundaria: #0e0e0e;
    --texto-primario: #ffffff;
  }

  body {
    @apply bg-fundo text-primario;
  }
}

.bg-fundo {
  background-color: var(--cor-secundaria);
}

.text-primario {
  color: var(--texto-primario);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
